.main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-height: 0;
    font-family: 'Dancing Script', cursive;
}

body,
html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-height: 0;
    scroll-behavior: smooth;
}