.main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-height: 0;
  font-family: "Dancing Script", cursive;
}

body,
html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-height: 0;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}
.header .title {
  min-height: 0;
  width: 100%;
  flex: 1;
  background-color: #30303e;
  color: #d08afe;
  font-size: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  padding-top: 150px;
}
.header .main-image {
  min-height: 0;
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}
.header .main-image .top {
  min-height: 0;
  flex: 1;
  background: #30303e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 120px;
}
.header .main-image .top img {
  height: 450px;
  box-sizing: border-box;
  border: 7px solid #d08afe;
  border-radius: 50%;
  position: relative;
  top: 228.5px;
}
.header .main-image .bottom {
  flex: 1;
  background: #d08afe;
  padding-bottom: 150px;
}

.information {
  width: 100%;
  height: 100%;
  min-height: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 26px;
  background-image: linear-gradient(to bottom, #d08afe, #e2b6ff, #a0c6fb, #6ea6f5);
}
.information a {
  color: #d08afe;
}
.information .about {
  flex: 1;
  margin: 10px;
  background: #30303e;
  color: #d08afe;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}
.information .about .about-title {
  font-size: 65px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 900;
  padding-bottom: 20px;
}
.information .about .about-text {
  width: 100%;
  flex: 1;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}
.information .contact {
  flex: 1;
  margin: 10px;
  background: #30303e;
  color: #d08afe;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}
.information .contact .contact-title {
  font-size: 65px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 900;
}
.information .contact .contact-text {
  width: 100%;
  flex: 1;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

.footer {
  background-color: #30303e;
  text-align: center;
  font-size: 22px;
  color: #d08afe;
  font-family: "Acme", sans-serif;
  padding: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1e1e26;
  color: #d08afe;
  font-family: "Acme", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}/*# sourceMappingURL=style.css.map */