.main {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  .left {
    height: 45%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input {
      font-size: 64px;
      text-align: center;
      width: 14rem;
      padding: 1rem;
      background: linear-gradient(to top, $main-color-1, $main-color-2);
      border: solid 7px $contrast-color;
      color: $contrast-color;
    }
    .check {
      text-align: center;
      margin-top: 30px;
      padding: 15px;
      font-size: 20px;
      background: linear-gradient(
        to bottom,
        $contrast-color,
        $contrast-color-2
      );
      color: $main-color-1;
      border: 0;
      cursor: pointer;
    }
  }

  .right {
    height: 45%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .message {
      margin-bottom: 2rem;
      height: 3rem;
      font-size: 22px;
      background: -webkit-linear-gradient($contrast-color, $contrast-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .label-score {
      font-size: 22px;
      margin-bottom: 1rem;
      background: -webkit-linear-gradient($contrast-color, $contrast-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .label-highscore {
      font-size: 22px;
      background: -webkit-linear-gradient($contrast-color, $contrast-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
