.show {
  font-family: 'Acme', sans-serif;
  box-shadow: 4px 5px;
  font-size: 30px;
  padding: 10px;
  margin-left: 3%;
  margin-right: 3%;
  border: 1.5px solid;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 0;
}
